coverage
docs/gen
node_modules/*
**/node_modules/*
npm-debug.log
**/npm-shrinkwrap.json
.DS_Store
**.DS_Store
**/test-results.xml
yarn.lock
.nyc_output
**/typescript/*.js
**/typescript/*.js.map
fabric*.tgz
test/fv/annotations/dist

# ignore vscode config
.vscode
# ignore webstorm config
.idea

build/test/network/crypto-material/*.block
build/test/network/crypto-material/*.tx
build/test/network/crypto-material/crypto-config
build/test/network/crypto-material/core.yaml
