coverage
docs/gen
node_modules/*
**/node_modules/*
fabric-shim/node_modules/*

npm-shrinkwrap.json
package-lock.json
npm-debug.log
.DS_Store
fabric-shim/.DS_Store
test/.DS_Store
// ignore vscode config
.vscode
// ignore webstorm config
.idea
yarn.lock
.nyc_output
**/typescript/*.js
**/typescript/*.js.map
fabric*.tgz
test/fv/annotations/dist

**/test-results.xml

build/test/network/crypto-material/*.block
build/test/network/crypto-material/*.tx
build/test/network/crypto-material/crypto-config
build/test/network/crypto-material/core.yaml
