coverage
docs/gen
node_modules/*
src/node_modules/*
src/lib/protos/common/*
src/lib/protos/msp/*
src/lib/protos/peer/*
src/lib/protos/ledger/*
npm-shrinkwrap.json
package-lock.json
npm-debug.log
.DS_Store
src/.DS_Store
test/.DS_Store
// ignore vscode config
.vscode
// ignore webstorm config
.idea
yarn.lock
.nyc_output