# Copyright IBM Corp. All Rights Reserved.
#
# SPDX-License-Identifier: Apache-2.0
#
# fabric-chaincode-node azure pipeline configuration.
#
name: $(SourceBranchName)-$(Date:yyyyMMdd)$(Rev:.rrr)

# Daily build for final quality
# cf https://crontab.guru/#0_23_*_*_*
schedules:
  - cron: "0 23 * * *"
    displayName: 'Chaincode Node Nightly Driver'
    branches:
      include:
        - release-2.x
    always: true


# Trigger on the master branch
# Standard Pull Request and Merge builds
# Any git tag will also trigger a build that should do publishing
trigger:
  branches:
    include:
      - 'release-2.x'
  tags:
    include:
      - '*'


# These are custom defined variables, the pipeline one is currently used for the build scripts
# to know to produce tests results in XML format for Azure to consume, for developers
# this isn't set so command line output is given
#
# Chaincode_Node_Vars is the protected group of keys for publishing
variables:
  - group: Chaincode_Node_Vars
  - name: component
    value: fabric-chaincode-node
  - name: pipeline
    value: ci
  - name: node_version_spec
    value: '12.16.1'

# Build on Ubuntu
pool:
  vmImage: 'ubuntu-latest'

#
# The stages and jobs, potential for rationalization and optimization
# Keeping it simple and explict whilst we gain experience
stages:

    # Primary stage of building, linting and unit tests
    - stage: Build_and_Test
      jobs:
        # output some basic information for reference
        - job: displayenv
          steps:
            - template: templates/build-data.yaml
        - job: main
          displayName: 'Build, lint, UT'
          steps:
            - task: NodeTool@0
              inputs:
                versionSpec: 12.15.0
            - script: |
                set -ev
                node common/scripts/install-run-rush.js install
              displayName: 'Setup the rush environment'
            - script: |
                set -ev
                node common/scripts/install-run-rush.js rebuild
              displayName: 'Full rebuild'

            - task: PublishTestResults@2
              condition: or(succeeded(), failed())   # publish either way
              inputs:
                testResultsFiles: '**/test-results.xml'
                artifactName: 'Unit Test results'
                testRunTitle: 'Unit Test results'
            - task: PublishCodeCoverageResults@1
              condition: or(succeeded(), failed())   # publish either way
              inputs:
                codeCoverageTool: 'cobertura'
                summaryFileLocation: '**/cobertura-coverage.xml'
                artifactName: 'Unit Test Coverage'
            - script: |
                mkdir -p $(Build.ArtifactStagingDirectory)/logs
                find . \( -type d -name 'node_modules' \) -prune -o -name '*.build*.log' -exec cp {} $(Build.ArtifactStagingDirectory)/logs \;
              displayName: 'Copy build logs'
            - task: PublishBuildArtifacts@1
              condition: or(succeeded(), failed())   # publish either way
              inputs:
                pathToPublish:  $(Build.ArtifactStagingDirectory)/logs
                artifactName: 'Build logs'
              displayName: 'Publish build logs'

            # Copy the built artifacts to the staging directory, tgz, and the docker image
            - script: |
                set -ev
                node common/scripts/install-run-rush.js publish --include-all --pack --release-folder $(Build.ArtifactStagingDirectory)/tgz --publish
                docker image save hyperledger/fabric-nodeenv | gzip > $(Build.ArtifactStagingDirectory)/fabric-nodeenv.tar.gz
              displayName: 'Package tgz and docker image'
            - task: PublishBuildArtifacts@1
              inputs:
                pathToPublish:  $(Build.ArtifactStagingDirectory)/tgz
                artifactName: node-tgz
            - task: PublishBuildArtifacts@1
              inputs:
                pathToPublish:  $(Build.ArtifactStagingDirectory)/fabric-nodeenv.tar.gz
                artifactName: nodeenv-docker-image

        # Run the FV tests but using the built material
        - job: fvt
          displayName: 'FV Tests'
          dependsOn: main
          steps:
            - task: NodeTool@0
              inputs:
                versionSpec: $(node_version_spec)
            - task: DownloadPipelineArtifact@2
              inputs:
                artifact: nodeenv-docker-image
                path: $(Build.SourcesDirectory)/build
            - task: DownloadPipelineArtifact@2
              inputs:
                artifact: node-tgz
                path: $(Build.SourcesDirectory)/build
            - script: |
                set -ev
                ./tools/getEdgeDocker.sh                                # essential to get master docker images of peer etc.
                docker image load --input build/fabric-nodeenv.tar.gz         # gets the build image of nodeenv
                docker images
                node common/scripts/install-run-rush.js install
                node common/scripts/install-run-rush.js update          # should the tests need 'building' this will need to go here
              displayName: 'Get the latest master docker images'
            - script: |
                set -ev
                node common/scripts/install-run-rush.js start-fabric
                node common/scripts/install-run-rush.js start-verdaccio # script will check for the ci variable and use built images
                docker images | grep hyperledger && docker ps -a
                node common/scripts/install-run-rush.js test:fv --verbose
                node common/scripts/install-run-rush.js test:e2e --verbose
              displayName: 'FV Tests'

            - task: PublishTestResults@2
              condition: or(succeeded(), failed())   # publish either way
              inputs:
                testResultsFiles: '**/test-results.xml'
                testRunTitle: 'FV Test results'
            - task: CopyFiles@2
              condition: or(succeeded(), failed())   # publish either way
              inputs:
                sourceFolder: $(Build.SourcesDirectory)/test
                contents: |
                  **/*.build*.log
                  !**/node_modules/**
                targetFolder: $(Build.ArtifactStagingDirectory)/testlogs
            - script: |
                mkdir -p $(Build.ArtifactStagingDirectory)/testlogs
                find . \( -type d -name 'node_modules' \) -prune -o -name '*.build*.log' -exec cp {} $(Build.ArtifactStagingDirectory)/testlogs \;
              displayName: 'Copy test logs'
            - task: PublishBuildArtifacts@1
              condition: or(succeeded(), failed())   # publish either way
              inputs:
                pathToPublish:  $(Build.ArtifactStagingDirectory)/testlogs
                artifactName: 'Test logs'
              displayName: 'Publish test logs'
            - task: PublishBuildArtifacts@1
              condition: or(succeeded(), failed())   # publish either way
              inputs:
                pathToPublish: tools/toolchain/network/docker-compose/logs/docker.log
                artifactName: nodeenv-docker-image

        # Job to handle the auditing of the code
        # NPM audit is run on a 'fake' installation of the libraries
        # Pulling in all the dependencies it will be able to run NPM AUDIT, and if that returns a
        # error code the job will fail.
        - job: src_audit
          displayName: 'Node Module Auditing'
          dependsOn: main
          steps:
            - task: NodeTool@0
              inputs:
                versionSpec: $(node_version_spec)
            - task: DownloadPipelineArtifact@2
              inputs:
                artifact: node-tgz
                path: $(Build.SourcesDirectory)/build
            - script: |
                node common/scripts/install-run-rush.js install
                node common/scripts/install-run-rush.js start-verdaccio # script will check for the ci variable and use built images
                mkdir -p $(Build.SourcesDirectory)/audit && cd $(Build.SourcesDirectory)/audit && npm init -y
                npm install --registry http://localhost:4873 fabric-shim fabric-shim-crypto fabric-shim-api fabric-contract-api --save
                npm audit --audit-level=moderate
              displayName: 'Run npm audit'

        # Build and publish API docs on every merge build
        - job: jsdoc
          dependsOn: displayenv
          condition: and(succeeded(),eq(variables['Build.Reason'], 'IndividualCI'))
          variables:
            ${{ if eq(variables['Build.SourceBranch'], 'refs/heads/master') }}:
              jsdoc_release: master
            ${{ if ne(variables['Build.SourceBranch'], 'refs/heads/master') }}:
              jsdoc_release: release-$(BuildData.MINOR_PACKAGE_VERSION)
          steps:
            - script: |
                set -ev
                node common/scripts/install-run-rush.js install
              displayName: 'Setup the rush environment'
            - script: |
                set -ev
                node common/scripts/install-run-rush.js rebuild --to fabric-shim-docs
              displayName: 'Build JSDoc'
            - task: CopyFiles@2
              inputs:
                contents: |
                  gen/**
                sourceFolder: '$(Build.SourcesDirectory)/docs'
                targetFolder: $(Build.ArtifactStagingDirectory)/jsdoc
                cleanTargetFolder: true
              displayName: 'Copy JSDoc'
            - task: CopyFiles@2
              condition: eq(variables['Build.SourceBranch'], 'refs/heads/master')
              inputs:
                contents: |
                  _config.yml
                  **/?(*.md|*.html)
                  !_jsdoc.json
                  !_jsdoc/**
                  !gen/**
                  !node_modules/**
                sourceFolder: '$(Build.SourcesDirectory)/docs'
                targetFolder: $(Build.ArtifactStagingDirectory)/gh-pages
                cleanTargetFolder: true
              displayName: 'Copy gh-pages doc (master branch only)'
            - script: |
                git reset --hard HEAD
                git clean -xdf
                git fetch origin
                git checkout -b gh-pages origin/gh-pages
                git clean -xdf

                mkdir -p $(jsdoc_release)/api
                rm -rf $(jsdoc_release)/api/*
                cp -r $(Build.ArtifactStagingDirectory)/jsdoc/gen/* $(jsdoc_release)/api
                if [ -d $(Build.ArtifactStagingDirectory)/gh-pages ]; then
                  find . -maxdepth 1 ! \( -name [.]* -o -name 'gh-pages' -o -name 'master' -o -name 'release-*' \) -exec rm -rf {} \;
                  cp -r $(Build.ArtifactStagingDirectory)/gh-pages/* .
                fi
              displayName: 'Update gh-pages branch'
            - script: |
                git config --global user.email "hlfdev.azp@gmail.com"
                git config --global user.name "Hyperledger Bot"
                git add -A
                git commit -m "Publishing GitHub Pages"
                git push https://$(GITHUB-PAT)@github.com/hyperledger/fabric-chaincode-node.git gh-pages
              displayName: 'Commit gh-pages changes'

    # Publish a new version, triggered by a git tag
    - stage: Publish_tag
      dependsOn: Build_and_Test
      condition: and(succeeded(), startsWith(variables['Build.SourceBranch'], 'refs/tags'))
      jobs:
        - job: npm_publish
          displayName: 'npm publish'
          steps:
            - task: NodeTool@0
              inputs:
                versionSpec: $(node_version_spec)
            - download: current
              artifact: node-tgz
            - script: |
                touch $(Agent.TempDirectory)/.npmrc
                echo '##vso[task.setvariable variable=NPM_CONFIG_USERCONFIG]$(Agent.TempDirectory)/.npmrc'
              displayName: 'create user .npmrc file'
            - script: |
                npm config set registry https://registry.npmjs.org/
                npm config ls
              displayName: 'set npmjs registry'
            - task: npmAuthenticate@0
              inputs:
                workingFile: '$(Agent.TempDirectory)/.npmrc'
                customEndpoint: 'fabric-chainode-node-npm'
            - script: |
                find $(Pipeline.Workspace)/node-tgz/ -maxdepth 1 -type f -name 'fabric-*.tgz' -exec npm publish {} --tag latest \;
              displayName: 'npm publish'
        - job: jsdoc_publish
          steps:
            - script: |
                set -ev
                echo "checkout docs branch"
                echo "checking"
        - job: dockerhub_publish
          steps:
            - template: templates/build-data.yaml
            - task: DownloadPipelineArtifact@2
              inputs:
                artifact: nodeenv-docker-image
                path: $(Build.SourcesDirectory)/build

            - script: |
                wget -qO "$PWD/manifest-tool" https://github.com/estesp/manifest-tool/releases/download/v1.0.0/manifest-tool-linux-amd64
                chmod +x ./manifest-tool

                docker image load --input build/fabric-nodeenv.tar.gz
                docker images
                docker login ${DOCKER_REGISTRY_URL} --username=${DOCKER_REGISTRY_USERNAME} --password=${DOCKER_REGISTRY_PASSWORD}
                echo "Logged in to docker registry"
                # tag nodeenv image to PACKAGE_VERSION
                docker tag hyperledger/fabric-nodeenv hyperledger/fabric-nodeenv:amd64-$(BuildData.PACKAGE_VERSION)-latest
                # push nodeenv to repository
                docker push hyperledger/fabric-nodeenv:amd64-$(BuildData.PACKAGE_VERSION)-latest
                # publish patch version (3-digit) image
                ./manifest-tool push from-args --platforms linux/amd64 --template "hyperledger/fabric-nodeenv:amd64-$(BuildData.PACKAGE_VERSION)-latest" --target "hyperledger/fabric-nodeenv:$(BuildData.PACKAGE_VERSION)-latest"
                # publish minor version (2-digit) image
                ./manifest-tool push from-args --platforms linux/amd64 --template "hyperledger/fabric-nodeenv:amd64-$(BuildData.PACKAGE_VERSION)-latest" --target "hyperledger/fabric-nodeenv:$(BuildData.MINOR_PACKAGE_VERSION)-latest"
              env:
                DOCKER_REGISTRY_USERNAME: $(DockerHub-Username)
                DOCKER_REGISTRY_PASSWORD: $(DockerHub-Password)
